<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message Notification</h1>
    <p>
      You have received a new message from <%= @other.first_name %>, go to your Nomadroof inbox and check it out.
    </p>
    <p>
      To view the message, just follow this link: <a href="http://localhost:3000/conversations"> Messages </a>.
    </p>
    <p>Have a great day!</p>

    <p>Nomadroof team</p>
  </body>
</html>
